@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Pixel Operator;
    src: url("/fonts/PixelOperator.ttf");
}

@layer components {
    .retro-screen {
        @apply relative overflow-hidden bg-[#0a1208] text-[#3f3] shadow-[inset_0_0_100px_rgba(0,0,0,0.5)];
        text-shadow: 0 0 5px rgba(51, 255, 51, 0.5);
    }

    .retro-screen::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 10;
        background-size: 100% 4px, 3px 100%;
        pointer-events: none;
    }

    .retro-screen::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(18, 16, 16, 0.1);
        opacity: 0;
        z-index: 11;
        pointer-events: none;
        animation: flicker 0.15s infinite;
    }

    @keyframes flicker {
        0% { opacity: 0.1; }
        5% { opacity: 0.2; }
        10% { opacity: 0.15; }
        15% { opacity: 0.2; }
        20% { opacity: 0.1; }
        25% { opacity: 0.15; }
        30% { opacity: 0.1; }
        100% { opacity: 0.1; }
    }

    .scanline {
        width: 100%;
        height: 100px;
        z-index: 12;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0.1) 100%);
        opacity: 0.1;
        position: absolute;
        bottom: 100%;
        animation: scanline 10s linear infinite;
    }

    @keyframes scanline {
        0% { bottom: 100%; }
        80% { bottom: 100%; }
        100% { bottom: -100px; }
    }
}